body {
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white;
    text-align: center;
}

.Heading {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

input {
    border: 2px solid rgb(35, 110, 35);
    height: 4vh;
    width: 15vw;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.Start-btn {
    background-color: transparent;
    border: 1px solid rgb(35, 110, 35);
    color: white;
    width: 15vh;
    height: 5vh;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 10px;
}

.Start-btn:hover {
    background-color: rgb(49, 129, 49);
    border: 1px solid white;
    cursor: pointer;
}

.Answ-txt {
    color: white;
    font-size: 1.2em;
    margin-top: 15px;
}
